    div#main-menu {
        z-index: 10;
    }
    /* carousel  */
    
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }
    
    .container {
        width: 100vw !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    
    .carousel-indicators li {
        border: 1px solid #A5A6F6 !important;
        background-color: #A5A6F6 !important;
        margin-right: 10px !important;
    }
    
    .carousel-indicators .active {
        background-color: #7879F1 !important;
    }
    
    .carousel-indicators {
        bottom: -50px !important;
    }
    
    @media (min-width: 1400px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            max-width: 100vw;
        }
    }
    
    @media (min-width: 1200px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl {
            max-width: 100% !important;
        }
    }
    
    @media (min-width: 576px) {
        .container,
        .container-sm {
            max-width: 100% !important;
        }
    }
    
    .exclusive {
        padding: 10%;
    }
    
    .for-you {
        width: 100%;
    }
    
    .collection-2021 {
        font-family: Arya;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 81px;
        letter-spacing: 0em;
        text-align: center;
        color: #F178B6;
    }
    
    .col-md-4 {
        text-align: center;
    }
    
    .see-more-colors {
        font-family: Alata;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        color: #8C959E;
    }
    
    .p-name {
        font-family: Alata;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
    }
    
    .p-price {
        font-family: Alata;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        color: #5D5FEF;
    }
    
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
    .row>* {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    
    .img-col-md-4 {
        width: 70%;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    
    .row.summer-collection {
        padding-left: 10%;
    }
    
    .category {
        padding: 5% 6%;
    }
    
    img.img-col-6 {
        width: 75%;
    }
    
    .accessories {
        margin: 0 10vw;
        width: 80vw
    }
    
    img.best-accessories {
        width: 13vw;
        margin: 0px 4%;
    }
    
    .example-accessories {
        margin: 0 10vw;
    }